setuptools
wheel
transformers
transformers[sentencepiece]
datasets
sacrebleu
rouge_score
py7zr
nltk
tqdm
PyYAML
scikit-learn
pandas
numpy
matplotlib
seaborn
torch
torchvision
notebook
jupyterlab
boto3
mypy-boto3-s3
mypy-boto3-iam
python-box
ensure
fastapi
uvicorn
Jinja2
twine

-e .
